<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.annz.pokemon.mapper.WishingStarMapper">
    <resultMap type="WishingStar" id="wishingStar">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectstar" parameterType="INTEGER" resultType="WishingStar">
        select *
        from WishingStar
        where id = #{id}
    </select>

    <select id="selectAllstar"  resultType="WishingStar">
        select *
        from WishingStar
    </select>

    <insert id="CreatWs" parameterType="WishingStar"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wishingstar set account=#{account},password=#{password}
    </insert>

    <update id="updateWs">
        UPDATE wishingstar set password=#{password} WHERE id=#{id}
    </update>

</mapper>
